body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px;
}

.color-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.color-box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin: 6px;
    border-radius: 20px;
}

.uploaded-image {
    max-width: 100%;
    margin-top: 20px;
}