<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Color Extractor</title>
</head>
<body class="">
<script>
    function displayFileName(input) {
        var fileName = input.files[0].name;
        var imgPath = URL.createObjectURL(input.files[0]); // Create a temporary URL for the uploaded image
        document.getElementById('file-name').innerText = fileName;
        document.getElementById("image-name").src = imgPath;
        document.getElementById("image-name").className = "mx-auto";
    }
        </script>

        <script>
            function uploadImage() {
                // Check if a file is selected
                var fileInput = document.getElementById('file-input');
                if (!fileInput.files || fileInput.files.length === 0) {
                    // Show a message div
                    var noImageMessage = document.getElementById('no-image-message');
                    noImageMessage.style.display = 'block';
        
                    // Hide the message after 5 seconds
                    setTimeout(function () {
                        noImageMessage.style.display = 'none';
                    }, 1500);
        
                    // Do not submit the form
                    return false;
                }
        
                // Show loading sign
                document.getElementById('loading').style.display = 'block';
        
                // Submit the form
                document.getElementById('uploadForm').submit();
            }
        </script>





        

<div class="bg-cover bg-no-repeat w-full"
        style="background-image: url('https://images.unsplash.com/photo-1497506928652-500166625d53?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <h1 class="py-6 font-black text-6xl bg-gray-100 mix-blend-lighten uppercase text-center">
            Color Extractor
        </h1>
    </div>


    <div id="no-image-message" class="bg-red-900  text-white p-2 rounded-md mt-2 p-4 font-semibold tracking-wider" style="display: none;">
        No image selected. Please choose an image before generating colors.
    </div>


    <form action="/upload" method="post" enctype="multipart/form-data" class=" mt-4 flex flex-col border-2 border-black border-opacity-50 rounded-md p-8 w-1/2 ml-auto mr-auto border-dashed">
{#       <input type="file" name="file" accept="image/*" required class="w-1/2 bg-blue-200">#}
        <div class="flex flex-row">
        <label for="file-input" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center w-44 cursor-pointer border-2 border-black border-opacity-50 font-bold">
              <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
    Choose File
</label>
<input type="file" id="file-input" name="file" accept="image/*" required class="hidden " onchange="displayFileName(this)">
<p id="file-name" class="mt-2 ml-8 font-bold"></p>

        </div>
        <button type="submit" onClick="uploadImage()" class="text-white w-64 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-xl px-5 py-4 text-center mt-8 mb-2 mx-auto  border-green-300 border-2">Generate Colors</button>
    </form>
<div class="mx-auto  w-80 h-64 ">
<img id="image-name" src=""  alt="" class="hidden max-w-full max-h-full">
</div>




<div id="loading" class="text-center mt-2" style="display: none;">
 
    <svg class="animate-spin h-16 w-16 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
        </path>
    </svg>
    <p class="font-bold tracking-wide mt-2">Loading</p>
    <!-- You can use a loading spinner here if you have one -->
</div>


    {% if error %}
        <p>{{ error }}</p>
    {% endif %}



    {% if colors %}
    <div class="bg-cover bg-no-repeat mt-10 w-full" style="background-image: url('https://images.unsplash.com/photo-1497506928652-500166625d53?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <h1 class="py-6 font-black text-4xl bg-gray-100 mix-blend-lighten uppercase text-center">
            Colors In Image:
        </h1>
    </div>
    <div class="color-container bg-black">
        {% for color in colors %}
            <div class="color-box" style="background-color: {{ color }};">
                {{ color }}
                <form action="/change_color" method="post" class="inline">
                    <input type="hidden" name="color" value="{{ color }}">
                    <button type="submit" class="text-white bg-blue-600 px-2 py-1 ml-2">Change</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="bg-cover bg-no-repeat w-full mt-5 mb-10" style="background-image: url('https://images.unsplash.com/photo-1497506928652-500166625d53?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <h1 class="py-4 font-black text-4xl bg-gray-100 mix-blend-lighten uppercase text-center">
            Number of Colors: {{ color_count }}
        </h1>
    </div>
{% endif %}



    {% if colors %}
    <div class="mx-auto  w-80 h-64 -mt-64 ">
        <img src="{{ image_path }}" alt="Uploaded Image" class="uploaded-image mx-auto max-h-full max-w-full">
    </div>
        <div class="bg-cover bg-no-repeat mt-10 w-full"
        style="background-image: url('https://images.unsplash.com/photo-1497506928652-500166625d53?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <h1 class="py-6 font-black text-4xl bg-gray-100 mix-blend-lighten uppercase text-center">
            Colors In Image:
        </h1>
    </div>
        <div class="color-container bg-black">
            {% for color in colors %}
                <div class="color-box" style="background-color: {{ color }};">{{ color }}</div>
            {% endfor %}
        </div>
         <div class="bg-cover bg-no-repeat w-full mt-5 mb-10"  style="background-image: url('https://images.unsplash.com/photo-1497506928652-500166625d53?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <h1 class="py-4 font-black text-4xl bg-gray-100 mix-blend-lighten uppercase text-center">
           Number of Colors: {{ color_count }}
        </h1>
    </div>
   
{#        <p>Number of Colors: {{ color_count }}</p>#}
    {% endif %}
</body>
</html>